<a href="https://colab.research.google.com/github/AlishaKK/Python/blob/main/practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# You have a list of student names: ["Alice", "Bob", "Charlie", "David", "Eve"].
# Write Python code to:
#  * Print the total number of students in the list.
#  * Print the name of the third student in the list.
#  * Add a new student named "Frank" to the end of the list.
#  * Print the updated list.
# Give it a try, and let me know what code you come up with! I'm here to help if you get stuck.

In [ ]:
student_name = ["Alice", "Bob", "Charlie", "David", "Eve"]
print(len(student_name))
print(student_name[2])
student_name.append("Frank")
print(student_name)

5
Charlie
['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank']